*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-color{
    color: #FF42A5;
}
.prmy-text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.prmy-para{
    color: #534C64;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 16px;
    text-transform: lowercase;
}

/* header style  */
.header-container{
    height: 90px;
    display: flex;
    align-items: center;
    padding:40px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-items, .lists{
    width: 50%;
}
.head-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.logo-items{
    display: flex;
}
.lists{
    align-items: end;
    
}
.nav-list{
    display: flex;
    gap: 32px;
    justify-content: end;

}
li:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
  }
li{
    list-style: none;
   
}

/* Goat section  */
.goat-section{
    display: flex;
    /* padding:40px 240px; */
}
.goat-content, .goat-img{
    width: 50%;
}
.goat-content{
    padding-top: 140px;
    padding-right: 60px;
    background-image: url(images/Group\ 14.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 240px;
}
.goat-h2{
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.goat-h1{
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    padding: 24px 0px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red-button{
    margin-top: 20px;
    display: inline-flex;
    padding: 21px 40px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.blue-button{
    margin-top: 20px;
    display: inline-flex;
    padding: 21px 40px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 24px;
}
 .goat-img{
   padding-right: 240px;
}

/* Funny gamer section  */
.funny-gamer-sec{
    margin: 120px 240px;
    
    text-align: center;
}
.funny-gamer-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.funny-gamer-para{
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    width: 342px;
}
.cards{
    position: relative;
    
    /* width: 50%; */
}
.cards img{
    transition: transform 0.3s ease;
    opacity: 1;
    /* display: block; */
    /* width: 100%; */
    /* height: auto; */
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
}
.img-container{
    /* border: none; */
    border-radius: 12px;  
    position: relative;
    width: 342px;
    height: 400px;
    overflow: hidden;
}
.cards:hover .card-image {
    opacity: 0.3;
  }
.cards:hover .middle {
    opacity: 1;
  }
.middle{
    background-color: #534c64a1;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}
.text {
    color: #FF42A5;
    font-size: 16px;
    padding: 16px 32px;
  }
/* online game section  */
.online-game{
    margin: 0px 240px;
    display: flex;
    align-items: center;
}
.online-game-img, .online-game-content{
    width: 50%;
}
.image{
    height: 80%;
    width: 80%;
}
.img-position{
    position: relative;
    bottom: 150px;
    right: -350px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40%;
    width: 40%;
}
.online-game-content{
    margin-top: -400px;
    margin-left: 300px;
}


/* Games link section  */
.games{
    padding: 120px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.games-link {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    
}
.games-link div{
    margin: 20px;
    padding: 20px 28px;
    background-color: #FFF;
    border: none;
    border-radius: 50px ;
    align-items: center;

}
.games-link div a{
    text-decoration: none;
    text-align: end;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    
}


/* Footer  */
.footer{
    padding: 120px 240px;
    background: #0B0223;
    color: #FFF;
}
.footer-logo{
    text-align: center;
}
.footer-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* padding-right: 30px; */
    /* gap: 10px; */
}
.list{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 50px 0px;
}
.footer-details{
    margin: 60px 0px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.footer-details h5{
    padding: 20px 0px;
}
.small-text{
    margin-right: 60px;
}
